<div class="container">
  <div class="row">
    <h2>Todo Liste</h2>
  </div>
  <div class="row">
    <input type="text"
           [(ngModel)]="todoInput"
           placeholder="Tätigkeit">
  </div>
  <br>
  <div class="row">
    <input type="submit"
           (click)="addTodoItem()"
           value="Speichern">
  </div>
  <br>
  <div *ngFor="let todo of myTodos"
       class="row todo-item">
    <div>
      {{todo}}
    </div>
    <img src="/assets/trash-solid.svg" width="20" height="20" class="icon" alt="delete"
         (click)="removeTodo(todo)">
  </div>
</div>
